{{type}}
<table width="100%">
  <tr>
    <td align="center">
      <form action="">
        <select (change)="setPlan($event.target.value)">
          <option value="2uur">Laatste 2 uur</option>
          <option value="8uur">Laatste 8 uur</option>
          <option value="24uur">Laatste 24 uur</option>
          <option value="alles">Alles</option>
        </select>

        <select (change)="setType($event.target.value)">
          <option [ngValue]="temp" value="temp">Temp</option>
          <option [ngValue]="sturing" value="sturing">Sturing</option>
          <option value="beide">Beide</option>
        </select>

      </form>
    </td>
  </tr>
  <tr>
    <td>
      <google-chart [data]="chartData"></google-chart>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a routerLink="/main"><img src="assets/button_terug.png"></a>
    </td>
  </tr>
</table>



