<div *ngIf="!loggedIn">
  <br>

<form ngNoForm action="/connect/facebook" method="POST">
  <button type="submit">Verbind met Facebook</button>
</form>
</div>


<div *ngIf="loggedIn">

  <table width="100%">
    <tr>
      <td valign="top" colspan="2" align="center">
        <span class="currenttemp">{{currentTemp}} graden</span>
        <br><br>
        <span (click)="min10()">[-10]</span>
        <span (click)="min5()">[-5]</span>
        Instelling:{{requiredTemp}} graden
        <span (click)="plus5()">[+5]</span>
        <span (click)="plus10()">[+10]</span>
        <br>
        <br><br>
        <a (click)="settings()"> [meer instellingen]</a>
      </td>
    </tr>

    <tr>
      <td valign="top" width="50%">
        <google-chart (click)="grafiek()" [data]="chartData2Uur" style="width: 50px; height: 50px"></google-chart>
      </td>
      <td valign="top" width="50%">
        <google-chart (click)="grafiek()" [data]="chartData8Uur" style="width: 50px; height: 50px"></google-chart>
      </td>
    </tr>

    <tr>
      <td valign="top" colspan="2" align="center">
        Versie: {{version}}-{{profiel}}, Ingelogd als {{username}}<br>
      </td>
    </tr>

  </table>




</div>
