<br>
<div *ngIf="!loggedIn">
  <br>

<form ngNoForm action="/connect/facebook" method="POST">
  <input type="image" src="assets/button_login-via-facebook.png">
</form>
</div>


<div *ngIf="loggedIn">

  <table width="100%">
    <tr>
      <td valign="top" colspan="2" align="center">
        <span class="currenttemp">{{currentTemp}} graden </span>
      </td>
    </tr>
    <tr>
      <td  colspan="2" align="center">
        <span class="requiredTemp">{{requiredTemp}} graden</span>
        <br>
      </td>
    </tr>
    <tr>
      <td  colspan="2" align="center">
        <img (click)="min10()" src="assets/button_m10.png" >
        <img (click)="min5()" src="assets/button_m5.png" >
        <img (click)="plus5()" src="assets/button_p5.png" >
        <img (click)="plus10()" src="assets/button_p10.png" >
        <br>
      </td>
    </tr>
    <tr>
      <td  colspan="2" align="center">
        Laatste update: {{lastUpdate}}
        <br>
      </td>
    </tr>
    <tr>
      <td valign="top" width="50%">
        <div *ngIf="chart2UurGeladen">
          <google-chart (click)="grafiek()" [data]="chartData2Uur" style="width: 50px; height: 50px"></google-chart>
        </div>
        <div *ngIf="!chart2UurGeladen" align="center">
          <br>(Geen data beschikbaar)<br>
        </div>
      </td>
      <td valign="top" width="50%">
        <div *ngIf="chartAllesGeladen">
          <google-chart (click)="grafiek()" [data]="chartDataAlles" style="width: 50px; height: 50px"></google-chart>
        </div>
        <div *ngIf="!chartAllesGeladen" align="center">
          <br>(Geen data beschikbaar)<br>
        </div>
      </td>
    </tr>

    <tr>
      <td valign="top" colspan="2" align="center">
        Versie: {{version}}-{{profiel}}, Ingelogd als {{username}}<br>
      </td>
    </tr>

    <tr>
      <td valign="top" colspan="2" align="center">
        <div *ngFor='let sample of last5samples; trackBy: index;'>
          {{ sample.date }} : {{ sample.temp }} graden <br>
        </div>
      </td>
    </tr>

    <tr>
      <td valign="top" colspan="2" align="center">
        <br>
        <img (click)="settings()" src="assets/button_instellingen.png" >
      </td>
    </tr>

  </table>

</div>
