<div *ngIf="!loggedIn">
  <br>

<form ngNoForm action="/connect/facebook" method="POST">
  <button type="submit">Verbind met Facebook</button>
</form>
</div>


<div *ngIf="loggedIn">
  <table>
    <tr>
      <td valign="top">
        <google-chart (click)="grafiek()" [data]="chartData" style="width: 100px; height: 100px"></google-chart>
      </td>
      <td valign="top">
        <br>
        Huidige temp:{{currentTemp}} graden<br>
        <br><br>
        [-10] [-5] Instelling:120 graden [+5] [+10]<br>
        <br><br>
        <a (click)="settings()"> [meer instellingen]</a>
      </td>
    </tr>
  </table>


    <br><br>
    Versie: {{version}}-{{profiel}}, Ingelogd als {{username}}<br>


</div>
